.skills_container {
  row-gap: 2rem;
}

.skills_subtitle {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-2);
}

.skills_data {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--mb-2);
  margin-bottom: var(--mb-4);
}

.skills_name {
  text-transform: uppercase;
}

.skills_bar {
  position: absolute;
  bottom: -0.75rem;
  height: 0.25rem;
  background-color: var(--first-color);
}

.skills_html {
  width: 70%;
}
.skills_js {
  width: 70%;
}
.skills_react {
  width: 80%;
}
.skills_typeScript {
  width: 50%;
}
