.footer {
  background-color: #000;
  color: var(--first-color-lighten);
  text-align: center;
}

.footer_title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-2);
}

.footer_description {
  margin-bottom: var(--mb-2);
}

.footer_social {
  margin-bottom: 3rem;
}

.footer_link {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #272838;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: 0.5s;
}

.footer_link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.footer_link:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.footer_link:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

/* .footer_link {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #000000;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: 0.5s;
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

.footer_link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.footer_link:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.footer_link:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}
.footer_link:hover {
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}

.footer_copy {
  font-size: var(--smaller-font-size);
  color: var(--text-color);
} */
