:root {
  --header-height: 3.5rem;
  --nav-width: 324px;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --first-color: #fff;
  --first-color-dark: #662616;
  --first-color-darken: #290f09;
  --text-color: #54423d;
  --first-color-light: #eae7e6;
  --first-color-lighten: #fffafa;

  --body-font: "Kufam", cursive;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Margenes */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  /*z-Index*/

  --z-index: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: #272838;
  /* background-color: var(--first-color-lighten); */
  color: #fff;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  padding: 4rem 0 2rem;
}

.section-title {
  font-size: var(--h1-font-size);
  color: #fff;
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: #fff;
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 0.25rem;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

@media screen and (min-width: 768px) {
  .about_container,
  .skills_container,
  .services_container,
  .works_container,
  .contact_container,
  .contact_inputs {
    grid-template-columns: repeat(2, 1fr);
  }
  .about_data {
    text-align: initial;
  }

  .about_description {
    margin-bottom: var(--mb-5);
  }

  .about_img {
    width: 220px;
  }
  .about_information {
    padding-left: 4rem;
  }

  .education_time {
    padding: 0 2rem;
  }

  .contact_inputs {
    display: grid;
    column-gap: 1.5rem;
  }

  .contact_info {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0;
  }
  .header {
    width: 0;
  }

  .home_container {
    height: 100vh;
  }

  .section {
    padding: 3rem 0 2rem;
  }

  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .servicies_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
